//-------------------------------------
// @TYPOGRAPHY
//-------------------------------------

body {
  font-family: $font-family-paragraph;
  font-weight: 400;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 700;
  color: inherit;
}

h1 { @include type-scale(3); }
h2 { @include type-scale(2); }
h3 { @include type-scale(1); }
h4 { @include type-scale(0); }
h5 { @include type-scale(0); }
h6 { @include type-scale(-1); }

blockquote {
  border-left: 3px solid color(brand);
  padding-left: $spacing-whole;
  font-family: $font-family-serif;
  font-style: italic;
}

p {
  margin-bottom: $spacing-whole;
  @include type-scale(0);
}

a {
  text-decoration: none;
  color: color(brand);

  &:hover {
    text-decoration: underline;
  }
}
