//-------------------------------------
// @GUTTER
//-------------------------------------

.l-wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
}
