//-------------------------------------
// #BUTTON
//-------------------------------------

.button,
%button {
  display: inline-block;
  border: none;
  border-radius: 2px;
  padding: $spacing-half $spacing-whole;

  @include type-scale(0);
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  
  background-color: color(brand);
  color: color(light);

  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}
