<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/main.css">
    <title>Test for UI Engineer @ ITONICS</title>
  </head>
  <body>
    @@include('_header.html')

    <%= body %>

    @@include('_footer.html')
  </body>
</html>
